{% extends 'navbar.html' %}
{% load static %}

    <!-- Page loader Start -->
    <div id="pageloader">   
        <div class="loader-item">
            <div class="loader">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
        </div>
    </div>
    <!-- Page loader End -->

    {% block content %}

    <!-- Page Breadcrumbs Start -->
    <section class="breadcrumbs-page-wrap">
        <div class="bg-fixed pos-rel breadcrumbs-page">
            <div class="container">
                <h1>{{causes.name}}</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-wrap">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{causes.name|title}}</li>
                    </ol>
                </nav>  
            </div>
        </div>
    </section>
    <!-- Page Breadcrumbs End -->

    <!-- Main Body Content Start -->
    <main id="body-content">

        <!-- About Us Style Start -->
        <section class="wide-tb-100">
            <div class="container">
                <div class="row">                    
                    <div class="col-lg-9 col-md-12">
                        <div class="sidebar-spacer">
                                                    
                            <h1 class="heading-main">
                                <small>Help Us Now</small>
                                {{causes.name|title}}
                            </h1>
                            <!-- Causes Single Wrap -->
                            <div class="causes-wrap single">
                                        <img src={{causes.image.url}} class="d-block w-100" alt="...">
                                     

                                <div class="content-wrap-single">
                                    <div class="featured-cause-timer">
                                        <h3>₦{{causes.initial_price}} raised of ₦{{causes.target_price}}</h3>
                                        <div class="skillbar-wrap">
                                                
                                            <div class="skillbar" data-percent="{{causes.skill}}%">
                                                
                                                <div class="skillbar-bar"></div>
                                            </div>   
                                            <span class="tag">{{causes.category}}</span>          
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="content-wrap-single border-top">
                                    
                                    <p>{{causes.description}}</p>
                                    

                                    <a href="{% url 'initiate_payment' causes.slug %}"><button type="button" class="btn btn-primary" >Donate</button></a>
                                    

                                    

                                    
                                </div>


  
  
                                

                            </div>
                            <!-- Causes Single Wrap -->

                        </div>

                    </div>
                    
                </div>
            </div>
        </section>
        <!-- About Us Style Start -->
        
       

        
        
           
{% endblock content %}