{% extends 'navbar.html' %}
{% load static %}
{% block content %}
    <!-- Page Breadcrumbs Start -->
    <section class="breadcrumbs-page-wrap" style="background-image: url(static/images/IMG_8731.Jpg);">
        <div class="bg-fixed pos-rel breadcrumbs-page">
            <div class="container">
                <h1>Our Events</h1>
                <nav aria-label="breadcrumb" class="breadcrumb-wrap">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Events</li>
                    </ol>
                </nav>  
            </div>
        </div>
    </section>
    <!-- Page Breadcrumbs End -->

    <!-- Main Body Content Start -->
    <main id="body-content">

        <!-- About Us Style Start -->
        <section class="wide-tb-100">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-sm-1">
                    {% for event in events %}
                    <div class="col-12 mb-5">
                        <div class="event-wrap-single">
                            <div class="date-wrap d-md-flex align-items-start">
                                <div class="date-box">
                                    {{event.time|date:"d"}} <span>{{event.time|date:"M"}}</span>
                                </div>
                                <div class="event-details">
                                    <div class="mb-3">
                                        <span class="mr-3"><i data-feather="clock"></i> {{event.time|time:"H:i"}}</span> <i data-feather="map-pin"></i> {{event.location}}
                                    </div>
                                    <h3><a href="{% url 'event' event.slug %}">{{event.name|title}}</a></h3>
                                </div>
                               
                                
                            </div>
                            <br>
                            <p>{{event.description|truncatewords:15}}</p>
                            <div class="text-md-right read-more-wrap">
                                
                                <a href="{% url 'event' event.slug %}" class="read-more-line"><span>Read More</span></a>
                            </div>
                            <!-- Event Wrap -->
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center"> {% if events.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{events.previous_page_number}}">Previous</a></li>{% endif %}
                  {% for page in events.paginator.page_range %}
                  <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                  {% endfor %}
                  {% if events.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{events.next_page_number}}">Next</a></li>{% endif %}
                </ul>
            </nav>
        </section>
        
        <!-- About Us Style Start -->

{% endblock content %}