{% extends 'navbar.html' %}
{% load static %}
{% block content %}


<section class="wide-tb-100">
    <div class="container">
        {% if searched %}
        <h1 class="heading-main">
            
            You searched for "{{searched}}"
        </h1>
        <div class="row">                 
            {% for cause in causes %}   
            <div class="col-sm-12 col-md-6 col-lg-4">
                <!-- Causes Wrap -->
                <div class="causes-wrap">
                    <div class="img-wrap">
                        <a href="{% url 'causes-single' cause.slug %}"><img src={{cause.image.url}} alt=""></a>
                        <div class="raised-progress">
                            <div class="skillbar-wrap">
                                <div class="clearfix">
                                    ₦{{cause.initial_price}} raised of ₦{{cause.target_price}}
                                </div>
                                <div class="skillbar-wrap">
                                        
                                    <div class="skillbar" data-percent="{{cause.skill}}%">
                                        
                                        <div class="skillbar-bar"></div>
                                    </div>             
                                </div>           
                            </div>
                        </div>
                    </div>

                    <div class="content-wrap">
                        <span class="tag">{{cause.category}}</span>
                        <h3><a href="{% url 'causes-single' cause.slug%}">{{cause.name}}</a></h3>
                        <p>{{cause.description|truncatewords:15}}</p>
                        {% if cause.initial_price != cause.target_price %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Donate
                        </button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel">Passi Donation</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Donation information coming soon... bear with us. In the meantime, you can contact us on how you can donate.
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                                    
                        {% endif %}
                    </div>

                </div>
                <!-- Causes Wrap -->
            </div>
            {% endfor %}
            

        </div>
    </div>
    {% else %}
        <h1 class="heading-main">
                    
            You didn't search for anything
        </h1>

{% endif %}
</section>


{% endblock content %}