html,
body {
  height: 100%;
}
.error-style{
  padding: 4rem 0;
}
@media (min-width: 991px) {
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .error-img{ margin-top: 2rem; }
}


